@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Outfit:wght@400;700&display=swap');

@font-face {
    font-family: 'Meetpeople'; 
    src: url('./assets/font/Meetpeople.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

/* Style global de la section */
.message-section {
  text-align: center;
  padding: 35px 40px;
  background: #EDD8BE;
  max-width: 100%;
  width: 100%; 
  margin: 0; 
  box-sizing: border-box; 
}

.message-section .content-container {
  max-width: 800px; /* Limitez le contenu à une largeur fixe */
  margin: 0 auto; /* Centrez le contenu */
  text-align: center;
}
  
/* Style de la section de profil */

.circle-up {
    position: relative;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background-color: #FF5722;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
    padding-top: 5px;
    z-index: 1;
  }
  
  .profile-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile-text {
    font-size: 1rem;
    color: #FF5722;
    font-weight: bold;
    margin-top: 6px;
    font-family: 'Rammetto One', sans-serif;
    
  }
  
  /* Style du texte du message */
  .message-text {
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    word-spacing: 7px;
    font-family: 'Meetpeople', sans-serif;
  }
  
  .cta-text {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Rammetto One', sans-serif;
  }
  
  .cta-button {
    background-color: #ff5722;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
/* Style initial du bouton */
.cta-button {
    background-color: #FEA855;
    color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;

  }

  .cta-button img {
    margin-left: 8px; /* Ajoute un espace à gauche */
}

  
  /* Style du bouton après déclenchement de l'animation */
  .cta-button.animate {
    width: 250px; 
    height: 40px;
    border-radius: 20px;
    background-color: #ff5722;
    color: white;
    transition: width 1.5s ease, background-color 1.5s ease, color 1.5s ease;
    padding: 0 10px;
  }
  
  /* curseur écriture */
.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: #ff5722; /* Couleur du curseur */
  margin-left: 2px;
  animation: blink 0.7s steps(1) infinite;
}

@media (max-width: 768px) {
  .message-text {
    font-size: 0.7rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Meetpeople', sans-serif;
  }
  }
@keyframes blink {
  50% {
    opacity: 0;
  }
}
