:root {
    /* Font Styles */
    --body-l-cap-font-family: "Outfit", Helvetica;
    --body-l-cap-font-size: 14px;
    --body-l-cap-font-style: normal;
    --body-l-cap-font-weight: 500;
    --body-l-cap-letter-spacing: 0px;
    --body-l-cap-line-height: 20px;
  
    --body-l-font-family: "Outfit", Helvetica;
    --body-l-font-size: 14px;
    --body-l-font-style: normal;
    --body-l-font-weight: 500;
    --body-l-letter-spacing: 0px;
    --body-l-line-height: 20px;
  
    --body-m-font-family: "Outfit", Helvetica;
    --body-m-font-size: 14px;
    --body-m-font-style: normal;
    --body-m-font-weight: 300;
    --body-m-letter-spacing: 0px;
    --body-m-line-height: 20px;
  
    --body-s-font-family: "Outfit", Helvetica;
    --body-s-font-size: 12px;
    --body-s-font-style: normal;
    --body-s-font-weight: 600;
    --body-s-letter-spacing: 0px;
    --body-s-line-height: 16px;
  
    --body-XS-font-family: "Outfit", Helvetica;
    --body-XS-font-size: 12px;
    --body-XS-font-style: normal;
    --body-XS-font-weight: 500;
    --body-XS-letter-spacing: 0px;
    --body-XS-line-height: 16px;
  
    --body-XXS-font-family: "Outfit", Helvetica;
    --body-XXS-font-size: 12px;
    --body-XXS-font-style: normal;
    --body-XXS-font-weight: 300;
    --body-XXS-letter-spacing: 0px;
    --body-XXS-line-height: 16px;
  
    --caption-m-font-family: "Outfit", Helvetica;
    --caption-m-font-size: 10px;
    --caption-m-font-style: normal;
    --caption-m-font-weight: 400;
    --caption-m-letter-spacing: 0px;
    --caption-m-line-height: 14px;
  
    --display-m-font-family: "Rammetto One", Helvetica;
    --display-m-font-size: 52px;
    --display-m-font-style: normal;
    --display-m-font-weight: 400;
    --display-m-letter-spacing: 0px;
    --display-m-line-height: 58px;
  
    --headline-l-font-family: "Rammetto One", Helvetica;
    --headline-l-font-size: 20px;
    --headline-l-font-style: normal;
    --headline-l-font-weight: 400;
    --headline-l-letter-spacing: 0px;
    --headline-l-line-height: 24px;
  
    --headline-m-font-family: "Outfit", Helvetica;
    --headline-m-font-size: 20px;
    --headline-m-font-style: normal;
    --headline-m-font-weight: 600;
    --headline-m-letter-spacing: 0px;
    --headline-m-line-height: 24px;
  
    --headline-s-font-family: "Outfit", Helvetica;
    --headline-s-font-size: 16px;
    --headline-s-font-style: normal;
    --headline-s-font-weight: 700;
    --headline-s-letter-spacing: 0px;
    --headline-s-line-height: 24px;
  
    --headline-XL-font-family: "Outfit", Helvetica;
    --headline-XL-font-size: 32px;
    --headline-XL-font-style: normal;
    --headline-XL-font-weight: 700;
    --headline-XL-letter-spacing: 0px;
    --headline-XL-line-height: 36px;
  
    --headline-XS-font-family: "Outfit", Helvetica;
    --headline-XS-font-size: 14px;
    --headline-XS-font-style: normal;
    --headline-XS-font-weight: 700;
    --headline-XS-letter-spacing: 0px;
    --headline-XS-line-height: 20px;
  
    /* Colors */
    --primarybeige: rgba(241, 231, 218, 1);
    --primarybeige-light: rgba(248, 243, 236, 1);
    --primarydark: rgba(29, 29, 29, 1);
    --primarylight: rgba(255, 255, 255, 1);
    --primaryvitamine: rgba(254, 168, 85, 1);
    --primaryvitamine-orange: rgba(255, 76, 0, 1);
  
    /* Semantic Colors */
    --semanticred-dark: rgba(130, 36, 42, 1);
    --semanticgreen-light: rgba(208, 242, 231, 1);
    --semanticpink-light: rgba(249, 221, 224, 1);
  
    /* Grayscale */
    --graygray-100: rgba(22, 20, 19, 1);
    --graygray-95: rgba(45, 44, 43, 1);
    --graygray-90: rgba(80, 79, 78, 1);
    --graygray-75: rgba(115, 114, 113, 1);
    --graygray-60: rgba(150, 149, 149, 1);
    --graygray-45: rgba(185, 185, 184, 1);
    --graygray-30: rgba(220, 220, 220, 1);
    --graygray-15: rgba(243, 243, 243, 1);
  
    /* Elevations */
    --elevation-1px: 0px 2px 4px rgba(0, 0, 0, 0.25);
    --elevation-2px: 0px 4px 8px rgba(0, 0, 0, 0.25);
    --elevation-4px: 0px 6px 8px rgba(0, 0, 0, 0.25);
  }
  